/* Header.css */
button {
  border: none;
  background-color: black;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  margin-left: auto;
  /* Pushes the ul to the far right */
  display: flex;
  /* Ensures the items inside ul are aligned properly */
  justify-content: right;
  /* Aligns the items inside ul to the right */
}

header {
  position: fixed;
  top: 0px;
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  z-index: 1000;
}

.top_header_bg {
  position: fixed;
  top: 0px;
  width: 100%;
  height: 72px;
  background-color: bisque;
  border-bottom: 1px solid rgb(0, 0, 0);
  padding-left: 0px;
}

/* Container for header and sidebar */
.header_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 93%;
  height: 50px;
  padding: 10px 20px;
}

.left-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header_container #btn_more {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-right: 24px;
}

#top_nav>li {
  display: inline-block;
}

.header_container>#top_nav span {
  padding: 5px;
}

.logo {
  display: flex;
  width: 180px;
}
