/* Main layout structure */
.Home {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  /*justify-content: space-between; */
  background-color: bisque;

}

.Home-main {

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px 30px;
  box-sizing: border-box;
  margin: 68px auto 0px auto;
  flex-direction: row;
  transition: margin-left 0.3s ease;
}

.Home-main.shifted {
  margin-left: 240px;
  width: calc(100% - 240px);
}

.home-main-content {
  display: flex;
  flex: 1;
  gap: 20px;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* Adjust this based on your layout preferences */
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: bisque;
  margin-top: 20px;
}
.todo-container,
.home-middle-section,
.home-right-section {
  width: 75%;
  margin: 0 auto;
  min-width: 400px;
  box-sizing: border-box;
}

.home-middle-section {
  display: flex;
  flex: 2;
  flex-direction: column;
  /* Adjust this based on your layout preferences */
  gap: 20px;
  border: 2px solid gray;
  padding: 20px;
}


.home-right-section {
  flex: 1;
  padding: 20px;
  /* Adjust this based on your layout preferences */
  border: 2px solid gray;
}

.home-main-content .todo-list {
  padding-left: 20px;
}

@media screen and (max-width:1000px) {
  .home-main-content {
    flex-direction: column;
  }

  .home-middle-section,
  .home-right-section
  .todo-container {
    width: 100%;
  }
}

/* Calendar Tab design */
.calendar-tabs-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  padding: 0 10px;
}

.tab-buttons button {
  background-color: #ffd1c7;
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.tab-buttons .active-tab {
  background-color: #ff928f;
  color: white;
}