/* App.css */

/* Main layout structure */
.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 200px; /* Adjust left padding to account for the sidebar width */
  }
  
  .App-main {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
  }
  
  .middle-section {
    display: flex;
    flex-direction: column;
    width: 65%; /* Adjust this based on your layout preferences */
  }
  
  .right-section {
    background-color: #d57272;
    padding: 20px;
    width: 30%; /* Adjust this based on your layout preferences */
  }
  