/* src/components/MonthCalendar.css */
.main-page {
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.main-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 70vw;
    box-sizing: border-box;
  }
  
  .main-calendar-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .main-calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .main-calendar-weekday {
    font-weight: bold;
  }
  
  .main-calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
  }
  
  .main-calendar-day {
    padding: 20px;
    background-color: lightgray;
    border-radius: 10px;
    position: relative; /* Ensure tasks/events are positioned correctly inside */
    height: 73px; /* Increase the height to give more space */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: flex-start;
    overflow: hidden;
  }

  .main-calendar-day.today {
    background-color: #fff6f0;
    color: red;
    font-weight: bold;
  }
  
  .main-calendar-day.empty {
    background-color: lightgray;
  }
  
  .main-calendar-day:hover {
    background-color: lightblue;
  }
  
  .task-view {
    font-size: 0.7rem;
    color: #555;
    max-height: 3em;
    overflow: hidden;
  }

  .task-bullet {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .add_calendar_btn {
    align-self: flex-start;
    margin-top: auto;
    bottom: 30px;
    right: 40px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    font-size: 24px;
    border: none;
    cursor: pointer;
  }

  .open-middle-popup {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #4caf50;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  }

  .back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
  }

  .back-text {
    margin-left: 5px;
    font-family: 'Arial', sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
  }