/* src/components/MonthCalendar.css */
.main-calendar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    width: 80vw;
    height: 80vh;
    box-sizing: border-box;
  }
  
  .main-calendar-header {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .main-calendar-weekdays {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .main-calendar-weekday {
    font-weight: bold;
  }
  
  .main-calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    width: 100%;
    text-align: left;
    font-size: 1.2rem;
  }
  
  .main-calendar-day {
    padding: 20px;
    background-color: lightgray;
    border-radius: 10px;
    position: relative; /* Ensure tasks/events are positioned correctly inside */
    height: 80px; /* Increase the height to give more space */
    display: flex;
    flex-direction: column; /* Stack content vertically */
    justify-content: flex-start;
    overflow: hidden;
  }

  .main-calendar-day.today {
    background-color: #FFB6C1;
    color: red;
    font-weight: bold;
  }
  
  .main-calendar-day.empty {
    background-color: lightgray;
  }
  
  .main-calendar-day:hover {
    background-color: lightblue;
  }
  