/* App.css */


/* Main layout structure */
.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-main {

  display: flex;
  flex-wrap: wrap;
  width: 1024px;
  padding: 0px 30px;
  box-sizing: border-box;
  margin: 72px auto 0px auto;
  flex-direction: row;
  flex-direction: row;
  transition: margin-left 0.3s ease;
}

.App-main.shifted {
  margin-left: 240px; /* Sidebar 너비와 동일하게 설정 */
}

.middle-section {
  display: flex;
  flex: 6;
  flex-direction: column;
  width: 65%;
  /* Adjust this based on your layout preferences */
}
.add_calendar_btn {
  position: absolute;
  bottom: 30px;
  right: 40px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ccc;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

.right-section {
  background-color: #d57272;
  flex: 4;
  padding: 20px;
  width: 100%;
  /* Adjust this based on your layout preferences */
}

@media screen and (max-width:1000px){
  .App-main{
      flex-direction: column;
  }
}
